@import '../app/styles/tailwind-core.css';

@source '../app';
@source '../context';
@source '../hooks';
@source '.';
@source '../../packages/crew-ui/src';
@source '../node_modules/streamdown/dist';
@source '../node_modules/@streamdown/math/dist';
@source not '../**/*.{spec,test}.{js,ts,jsx,tsx}';
@source not '../../packages/crew-ui/src/**/*.{spec,test}.{ts,tsx}';
@source not '../../packages/crew-ui/src/**/*.stories.{ts,tsx}';

html,
body {
  max-width: unset;
  overflow: auto;
  user-select: text;
}
